{% extends 'base.html' %}

{% block content %}
<div class="m-4">
    <h3>{{ season.year }} Calendar</h3>

    <p>
        The current list of shoots which are part of the SCAYT Tour
        {{ season.year }} are shown below. Additional events will be added in
        due course once dates and entry information is confirfmed – a list of
        provisional events can be found at the bottom of the page.
    </p>
    <p>
        If you are running a competition with juniors in the region, we would love
        to add your event to the tour. Please contact
        <a class="u u-LR" href="mailto:scayt.organiser@scasarchery.org.uk">scayt.organiser@scasarchery.org.uk</a>
        for more information.
    </p>

    <div class="table-container">
        <table class="table striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>Event</th>
                    <th><div style="white-space: normal; cursor: help; text-decoration: underline dotted" class="tooltip tooltip--bottom" data-tooltip="Approximate location only, always check event information for directions.">Postcode</div></th>
                    <th><div style="white-space: normal; cursor: help; text-decoration: underline dotted" class="tooltip tooltip--bottom" data-tooltip="May not include all rounds in this family">Rounds</div></th>
                    <th><div style="white-space: normal; cursor: help; text-decoration: underline dotted" class="tooltip tooltip--bottom" data-tooltip="Not all age categories will necessarily be awarded medals, but suitable distance rounds are available.">Age groups</div></th>
                    <th>Results</th>
                </tr>
            </thead>
            {% for event in events %}
                <tr>
                    <td class="u-text-left">{{ forloop.counter }}</td>
                    <td class="u-text-left">{{ event.date }}</td>
                    <td><a class="u u-LR" href="{{ event.entry_link }}">{{ event.name }}</a></td>
                    <td class="u-text-left"><a class="u u-LR" href="https://www.google.com/maps/place/{{ event.venue.post_code }}/">{{ event.venue.post_code }}</a></td>
                    <td class="u-text-left">{{ event.get_round_family_display }}</td>
                    <td class="u-text-left">
                        {% for age in event.age_groups %}
                        <span class="tag tag--xs bg-green-500">{{ age }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% if event.has_results %}
                        <a class="u u-LR" href="{% url 'event-results' pk=event.pk %}">Results</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h4>Provisional events</h4>
    <ul>
        <li><strong>Parkfield Archers Junior Goldmine</strong> – Provisionally 31/08/25</li>
    </ul>
</div>
{% endblock %}
