{% extends 'base.html' %}

{% block content %}
    <div class="hero bg-green-500">
        <div class="hero-body">
            <div class="content">
                <h2 class="title text-yellow-200">Southern Counties Archery Youth Tour</h2>
                <h5 class="subtitle text-gray-300">Junior Archery Competitions across the South East</h5></div>
        </div>
    </div>

    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <h3>What is SCAYT?</h3>
                <p>SCAYT aims to encourage junior archers to participate in the shoots being organised around the SCAS region, meet their fellow junior archers, and provides an accessible step toward competition.  SCAYT consists of more than 30 events taking place around the region over the outdoor archery season. The tour finale is the Southern Counties Junior Outdoor Championship in late September.</p>
                <p>Becoming part of SCAYT is easy - simply enter and take part in any of the shoots on the tour, shooting the round appropriate for your age, and you will be listed in the tour standings automatically.</p>
                <p>The number of events is to encourage access, with a spread of timings and shoot locations around the large SCAS region. There is no suggestion that archers should aim to attend all, most or even many of the events. Archers can attend as many or as few of the SCAYT events as they choose while still being part of the tour. Archers who participate in three tour shoots prior to the SCAYT Final and SCAS Junior Championships can claim a partial refund of the entry fee for the final.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h3>Upcoming events</h3>
                {% if upcoming_events %}
                    <dl>
                    {% for event in upcoming_events %}
                        <dt>{{ event }}</dt>
                        <dd>
                            <strong>{{ event.date|date:"jS F Y" }}</strong>
                            {{ event.get_round_family_display }}
                        </dd>
                    {% endfor %}
                    </dl>
                {% else %}
                    <p>No upcoming events right now.</p>
                {% endif %}
                <p>
                    <a class="u u-LR" href="{% url 'calendar' %}">View full calendar ></a>
                </p>
            </div>

            <div class="col-6">
                <h3>{{ season }} standings</h3>
                <p>Standings will be published shortly after the first events.</p>
                <p>
                    <a class="u u-LR" href="{% url 'standings' %}">View full standings ></a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
