{% extends 'base.html' %}

{% block content %}
<div class="m-4">
    <h3>{{ season.year }} Standings</h3>

    <div class="toast toast--primary">
        <h4 class="toast__title">Work in progress</h4>
        <p>Combined standings are not yet ready, you can find results and SCAYT points awarded for individual events on the <a class="u u-LR" href="{% url 'calendar' %}">calendar</a>.</p>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Recurve</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <button class="btn-link bg-teal-400 border-teal-700">U21 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U18 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U16 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U15 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U14 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U12 Women</button>
                    </div>
                    <div class="col-6">
                        <button class="btn-link bg-green-400 border-green-700">U21 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U18 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U16 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U15 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U14 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U12 Men</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Compound</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <button class="btn-link bg-teal-400 border-teal-700">U21 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U18 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U16 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U15 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U14 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U12 Women</button>
                    </div>
                    <div class="col-6">
                        <button class="btn-link bg-green-400 border-green-700">U21 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U18 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U16 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U15 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U14 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U12 Men</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Barebow</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <button class="btn-link bg-teal-400 border-teal-700">U21 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U18 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U16 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U15 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U14 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U12 Women</button>
                    </div>
                    <div class="col-6">
                        <button class="btn-link bg-green-400 border-green-700">U21 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U18 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U16 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U15 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U14 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U12 Men</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Longbow</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <button class="btn-link bg-teal-400 border-teal-700">U21 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U18 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U16 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U15 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U14 Women</button>
                        <button class="btn-link bg-teal-400 border-teal-700">U12 Women</button>
                    </div>
                    <div class="col-6">
                        <button class="btn-link bg-green-400 border-green-700">U21 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U18 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U16 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U15 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U14 Men</button>
                        <button class="btn-link bg-green-400 border-green-700">U12 Men</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
