{% extends 'base.html' %}

{% load scayt %}

{% block content %}
<div class="m-4">
    <h3>{{ season.year }} Standings</h3>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Recurve</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='R' gender='W' age='21' %}">U21 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='R' gender='W' age='18' %}">U18 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='R' gender='W' age='16' %}">U16 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='R' gender='W' age='15' %}">U15 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='R' gender='W' age='14' %}">U14 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='R' gender='W' age='12' %}">U12 Women</a>
                    </div>
                    <div class="col-6">
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='R' gender='M' age='21' %}">U21 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='R' gender='M' age='18' %}">U18 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='R' gender='M' age='16' %}">U16 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='R' gender='M' age='15' %}">U15 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='R' gender='M' age='14' %}">U14 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='R' gender='M' age='12' %}">U12 Men</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Compound</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='C' gender='W' age='21' %}">U21 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='C' gender='W' age='18' %}">U18 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='C' gender='W' age='16' %}">U16 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='C' gender='W' age='15' %}">U15 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='C' gender='W' age='14' %}">U14 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='C' gender='W' age='12' %}">U12 Women</a>
                    </div>
                    <div class="col-6">
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='C' gender='M' age='21' %}">U21 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='C' gender='M' age='18' %}">U18 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='C' gender='M' age='16' %}">U16 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='C' gender='M' age='15' %}">U15 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='C' gender='M' age='14' %}">U14 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='C' gender='M' age='12' %}">U12 Men</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Barebow</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='B' gender='W' age='21' %}">U21 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='B' gender='W' age='18' %}">U18 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='B' gender='W' age='16' %}">U16 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='B' gender='W' age='15' %}">U15 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='B' gender='W' age='14' %}">U14 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='B' gender='W' age='12' %}">U12 Women</a>
                    </div>
                    <div class="col-6">
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='B' gender='M' age='21' %}">U21 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='B' gender='M' age='18' %}">U18 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='B' gender='M' age='16' %}">U16 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='B' gender='M' age='15' %}">U15 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='B' gender='M' age='14' %}">U14 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='B' gender='M' age='12' %}">U12 Men</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="content u-center">
                    <h4>Longbow</h4>
                </div>
                <div class="row">
                    <div class="col-6 rtl">
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='L' gender='W' age='21' %}">U21 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='L' gender='W' age='18' %}">U18 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='L' gender='W' age='16' %}">U16 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='L' gender='W' age='15' %}">U15 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='L' gender='W' age='14' %}">U14 Women</a>
                        <a class="btn bg-teal-400 border-teal-700 text-teal-100" href="{% season_url 'division-standings' season bow='L' gender='W' age='12' %}">U12 Women</a>
                    </div>
                    <div class="col-6">
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='L' gender='M' age='21' %}">U21 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='L' gender='M' age='18' %}">U18 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='L' gender='M' age='16' %}">U16 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='L' gender='M' age='15' %}">U15 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='L' gender='M' age='14' %}">U14 Men</a>
                        <a class="btn bg-green-400 border-green-700 text-green-100" href="{% season_url 'division-standings' season bow='L' gender='M' age='12' %}">U12 Men</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <a class="btn bg-blue-400 border-blue-700 text-blue-100" href="{% season_url 'final-standings' season %}">Final standings</a>
        </div>
    </div>
</div>
{% endblock %}
